{% extends "base.html" %}
{% block title %}API Admin Page{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
  <main class="landing">
    <h1>Navigointi</h1>

    <section class="actions">
      <a class="card create"
        href="{{ url_for('settings.base_columns') }}">
        <h2>Perussarakkeet</h2>
        <p>Muokkaa perussarakkeita.</p>
      </a>

      <a class="card basecols"
        href="{{ url_for('settings.general_settings') }}">
        <h2>Yleiset Asetukset</h2>
        <p>Muokkaa yleisiä asetuksia.</p>
      </a>
  </main>
{% endblock %}



